body {
    padding: 40px;
    padding-top: 20px;
}

h1 {
    padding-right: 20px;
}

h1, h3, p {
    display: inline-block;
    margin: 5px;
}

#data {
    padding-bottom: 30px;
}

.refresh-button {
    width: 40px;
    height: 40px;
    background: rgb(56, 117, 194);
    color: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px rgb(28, 58, 97);
}

.refresh-button:enabled:hover {
    background: rgb(28, 58, 97);
    cursor: pointer;
    box-shadow: 0 4px black;
}

.refresh-button:enabled:active {
    background-color: green;
    box-shadow: 0 0;
    transform: translateY(4px);
}

.refresh-button:disabled {
    background-color: gray;
    box-shadow: 0 0;
    transform: translateY(4px);
    cursor: not-allowed;
}

.stat-block {
    padding: 20px;
}

.loader {
    margin: 20px;
    border: 16px solid lightgray;
    border-top: 16px solid rgb(56, 117, 194);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}